<h1>{{ name }} Test</h1>
<p>Time alloted: 30 mins</p>
<ol>
  <li>Create a component <b>MylistComponent</b></li>
  <li>Create a service <b>AppService</b></li>
  <li>
    Service must have a method <code>'getData()'</code> which returns an
    <code>Observable&lt;&lt;Multiples-of-100&gt;&gt;</code>
  </li>
  <li>
    Add Mylist to AppComponent under the 'My List' heading
  </li>
  <li>
    Mylist must append <i>the next multiple of 100</i> as a bulleted-list-item
    each second
  </li>
</ol>
<h4>My List</h4>

